body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 470px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.links {
    display: flex;
    gap: 16px;
}

.main1 {
    background: #1f2937;
    padding: 80px 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 452px;
    gap: 10px;
}

.right {
    display: flex;
    width: 452px;
    justify-content: center;
    align-items: center;
    background: gray;
    color: white;
}

.main1 .naslov {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.text {
    font-size: 18px;
    color: #e5e7eb
}

.sign-up {
    font-size: 18px;
    border: none;
    border-radius: 7px;
    padding: 8px 25px;
    background: #3882f6;
    color: white;
    font-weight: 600;
}

.main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    padding-bottom: 125px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 65px;
}

.main2 .naslov {
    padding: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.square {
    width: 160px; /* Square size */
    height: 160px; /* Square size */
    border: 5px solid #3b82f6; /* Border width and color */
    border-radius: 15px; /* Adjust this value to match the desired roundness of the corners */
    background-color: transparent; /* Makes the inside of the square transparent */
}

.main2 .text {
    font-size: 18px;
    color: gray;
    text-align: center;
    width: 170px;
}

.info {
    width: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
}

.main3 {
    height: 430px;
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 110px;
}

.main3 .quote p{
    color: #1f2937;
    max-width: 800px;
    margin: auto;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.main3 .quote footer {
    font-size: 24px;
    font-weight: 700;
    max-width: 800px;
    text-align: right;
}

.main4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin: 100px;
    padding: 0;
    background-color: #3B82F6;
    border-radius: 8px;
}

.levo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    padding-left: 175px;
}

.desno {
    display: flex;
    justify-content: center;
    padding-left: 45px;
    padding-right: 145px;
}

.main4 p {
    margin: 0;
}

.call {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.main4, .text {
    font-weight: 0;
}

.dugme {
    font-size: 18px;
    color: white;
    font-weight: bold;
    background: transparent;
    border-width: thick;
    border: solid white;
    border-radius: 7px;
    padding: 7px 35px;
}

.footer {
    font-size: 24px;
    display: flex;
    margin: 0;
    padding: 25px 0px;
    color: white;
    background: #1f2937;
    justify-content: center; 
}